<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification App</title>
    <link rel = "stylesheet" href = "main.css">
</head>
<body>
    <div id="app">
        <h2>Image Classifier App</h2>
        <form action = "/upload" enctype="multipart/form-data" method = "post" >
            <label for="image"> Upload image here </label><br>
            <input type = "file" id="image" name="image" required/><br>
            <button type="submit" style="background-color:blue; color:white; margin-right: 10px">upload</button>
            <button type="submit" style="background-color:blue; color:white;">classify</button>
            <button type="submit" style="background-color:blue; color:white;">submit</button>
        </div>
    <script src="" async defer></script>
</body>
</html>